<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{normal/layout}">

<head>
    <title th:text="#{screen.logout.header}"></title>
</head>

<body id="cas">
<div layout:fragment="content">
      <!-- <div class="alert alert-success">
		  <div class="container">
			  <h2 th:utext="#{screen.logout.header}"/>
			  <p/>
			  <p th:utext="#{screen.logout.success}"/>
			  <p th:utext="#{screen.logout.security}" />
		  </div>
      </div> -->
      <script type="text/javascript">
	  window.location.href = "http://www1.hnie.edu.cn";
	  </script>
</div>
</body>
</html>
