<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{theme-app/layout}">

<head>
    <title th:text="#{screen.success.header}"></title>
</head>

<body id="cas">
	<div layout:fragment="content">
		<!-- <div class="alert alert-success">
			<h2 th:utext="#{screen.success.header}" />
			<p th:utext="#{screen.success.success(${principal.id})}" />
			<br>
			<p th:utext="#{screen.success.security}" />
		</div> -->
		<script type="text/javascript">
			window.location.href = "http://58.45.191.86:8083";
		</script>
		<!--<div th:replace="fragments/cas-resources-list"/>-->
	</div>
</body>
</html>
