<div class="applications">
	<div class="container friendly-links ">
		<div class="col-md-12">
			<div>
				<div class="friendly-links-title">应用系统</div>
				<div class="friendly-links-title-en">Applications</div>
			</div>
			<div class="row friendly-links-url">
				<div class="col-sm-4 col-lg-2 ">
					<a href="http://58.45.191.86:6690/zzyx/cas" target="_blank">
						<div><img th:src="@{themes/normal/images/yx.png}" /></div>
						<div class="friendly-links-url-title">自助迎新服务平台</div>
					</a>
				</div>
				<div class="col-sm-4 col-lg-2">
					<a href="#" target="_blank">
						<div><img th:src="@{themes/normal/images/oa.png}" /></div>
						<div class="friendly-links-url-title">办公自动化系统</div>
					</a>
				</div>
				<div class="col-sm-4 col-lg-2">
					<a href="#" target="_blank">
						<div><img th:src="@{themes/normal/images/zc.png}" /></div>
						<div class="friendly-links-url-title">资产管理系统</div>
					</a>
				</div>
				<div class="col-sm-4 col-lg-2">
					<a href="http://58.45.191.86:6690/exchange/cas" target="_blank">
						<div><img th:src="@{themes/normal/images/jh.png}" /></div>
						<div class="friendly-links-url-title">数据交换系统</div>
					</a>
				</div>
				<div class="col-sm-4 col-lg-2">
					<a href="#" target="_blank">
						<div><img th:src="@{themes/normal/images/yx2.png}" /></div>
						<div class="friendly-links-url-title">企业邮箱</div>
					</a>
				</div>
				<div class="col-sm-4 col-lg-2">
					<a href="#" target="_blank">
						<div><img th:src="@{themes/normal/images/ss.png}" /></div>
						<div class="friendly-links-url-title">宿舍管理系统</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
