<div>
	<div class="container friendly-links">
		<div class="col-md-8">
			<div>
				<div class="friendly-links-title">友情链接</div>
				<div class="friendly-links-title-en">Friendly Links</div>
			</div>
			<div class="row friendly-links-url">
				<div class="col-sm-4 ">
					<a href="http://www.hnie.edu.cn" target="_blank">
						<div class="friendly-links-url-title">湖南工程学院主页</div>
						<div class="friendly-links-url-content">www.hnie.edu.cn</div>
					</a>
				</div>
				<div class="col-sm-4">
					<a href="http://www.hnie.edu.cn/index.news.jsp" target="_blank">
						<div class="friendly-links-url-title">湖南工程学院新闻网</div>
						<div class="friendly-links-url-content">www.hnie.edu.cn/index.news.jsp</div>
					</a>
				</div>
				<div class="col-sm-4">
					<a href="http://tsg.hnie.edu.cn/" target="_blank">
						<div class="friendly-links-url-title">湖南工程学院图书馆</div>
						<div class="friendly-links-url-content">tsg.hnie.edu.cn</div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="weixin_img"><img th:src="@{themes/normal/images/hnie_weixin.png}" /></div>
		</div>
	</div>
</div>
